<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DI</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            color: #333;
            height: 100%;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
            width: 100%;
        }

        img {
            max-width:10%;
                                        height: 10%;;
                                        display: block;
                                        margin: 0 auto;
                                        justify-content: center;
                                        align-self: center;
                                        align-items: center;
                                        align-content: center;
            
        }

        .box {
            background-color: #E6F2FF;
            border-radius: 5px;
            box-shadow: 0.4em 0.6em 0.9em rgba(0, 0, 0, 0.1);
            margin-top: 5em;
            padding: 6em 6% 2em; 
            position: relative;
            text-align: center;
        }

        .content img {
            position: absolute;
            top: -50%; 
            left: 50%;
            transform: translate(-50%, 0);
            max-width: 50%;
            width: 10%;
            height: 10%;
            z-index: 1; 
        }

        .otp-box {
    background-color: #fff;
    border-radius: 5px;
    padding: 0.1em 0.2em;
    margin: 0.5em auto;
    display: inline-block;
    font-size: 3.42em;
    text-align: center;
    width: fit-content;
}


        p, h1 {
            margin: 1em 0;
        }

        .greeting {
            font-size: 1.571em;
            font-weight: bold;
            color: #333;
            text-align: left;
        }

        .unsubscribe {
            margin-top: 2em;
            font-size: 0.85em;
            color: hsl(0, 83%, 2%);
            text-align: center;
        }

        .unsubscribe a {
            color: #027193;
            text-decoration: none;
        }

        /* Responsive styles */
        @media screen and (max-width: 600px) {
            .box {
                padding: 8em 5% 2em; /* Adjusted top padding for smaller screens */
            }

            .content img {
                max-width: 80%;
                top: -40%; /* Adjust the position on smaller screens */
            }

            h1 {
                font-size: 2em !important;
            }

            p {
                font-size: 1em !important;
                margin: 2% 0 !important;
            }

            .otp-box {
                font-size: 2em;
            }

            .footer p {
                font-size: 0.8em !important;
            }
        }
    </style>
</head>
<body>
    <!-- Theme color & img & body of content -->
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <!-- App theme color content -->
                <!-- <div class="header" style="display: flex; height: 10.85em; background-color: rgba(2, 107, 147, 1); position: relative;"></div> -->

                <!-- Image and body of content -->
                <div class="box">
                    <div class="content">
                        <img src="https://storage.googleapis.com/clinicalinventory/email/clinic%20icon.png" alt="Clinic Icon" />
                    </div>
                    <p class="greeting">Hello user</p> <!-- Apply the new class here -->
                    <p style="font-size: 1.571em;text-align: left;">
                        Please use the OTP below on the DI clinic website to complete your sign-up procedures and verify your account.
                    </p>
                    <div class="otp-box">
                        <%= otp %>
                    </div>
                    <p style="font-size: 1.571em;text-align: left;">Thanks!</p>
                    <p style="font-size: 1.571em;text-align: left;">DI Clinics</p>
                    <p style="font-size: 1.571em">
                        If you didn’t request this, you can ignore this email or let us know by 
                        <span style="color: #027193">contacting us</span>.
                    </p>
             </div>
            </td>
        </tr>
    </table>
    <p class="unsubscribe">
        No longer want to receive these emails? <a href="">Unsubscribe</a>.
    </p>
</body>
</html>
