<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DI</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            color: #333;
            height: 100%;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        img {
            border: 0;
            display: block;
            height: auto;
        }

        /* Rectangle box styling */
        .box {
            background-color: #E6F2FF;
            border-radius: 10px;
            box-shadow: 0.4em 0.6em 0.9em rgba(0, 0, 0, 0.1);
            margin-top: 5em;
            padding: 5em 6% 2em;
            position: relative;
            text-align: center;
        }

        .content img {
            position: absolute;
            top: -50%; /* Move the image up by 50% of its height */
            left: 50%;
            transform: translateX(-50%);
            max-width: 40%;
        }

        .otp-box {
            background-color: #fff;
            border-radius: 5px;
            padding: 0.5em 1em;
            margin: 2em auto; /* Centering the OTP box */
            display: inline-block;
            font-size: 3.42em;
            text-align: center;
            width: fit-content; /* Ensures the box wraps around the OTP text */
        }

        p, h1 {
            margin: 1em 0;
        }

        /* Style for "Hello user" */
        .greeting {
            font-size: 1.571em;
            font-weight: bold; /* Makes the text darker */
            color: #333; /* Slightly darker color */
        }

        /* Responsive styles */
        @media screen and (max-width: 600px) {
            .box {
                padding: 8em 5% 2em;
            }

            .content img {
                width: 80% !important;
                top: -40%;
            }

            h1 {
                font-size: 2em !important;
            }

            p {
                font-size: 1em !important;
                margin: 2% 0 !important;
            }

            .otp-box {
                font-size: 2em;
            }

            .footer p {
                font-size: 0.8em !important;
            }
        }
    </style>
</head>
<body>
    <!-- Theme color & img & body of content -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <!-- App theme color content -->
                <div
                    class="header"
                    width="100%"
                    style="
                        display: flex;
                        height: 10.85em;
                        background-color: rgba(2, 107, 147, 1);
                        position: relative;
                    "
                ></div>

                <!-- Image and body of content -->
                <div class="box">
                    <div class="content">
                        <img
                            src="https://storage.googleapis.com/clinicalinventory/email/clinic%20icon.png"
                            alt="Example Image"
                        />
                    </div>
                    <p class="greeting">Hello user</p> <!-- Apply the new class here -->
                    <p style="font-size: 1.571em;">
                        Please use the OTP below on the DI clinic website to complete your sign-up procedures and verify your account.
                    </p>
                    <div class="otp-box">
                        <%= otp %>
                    </div>
                    <p style="font-size: 1.571em;">Thanks!</p>
                    <p style="font-size: 1.571em;">DI Clinics</p>

                    <p style="font-size: 1.571em">
                        If you didn’t request this, you can ignore this email or let us know by 
                        <span style="color: #027193">contacting us</span>.
                    </p>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
